<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="">Fallen Brothers</a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about-us" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sponsors" routerLinkActive="active">Sponsors</a>
        </li>
        <li class="nav-item"ngbDropdown>
          <a class="nav-link dropdown-toggle" ngbDropdownToggle>Events</a>
          <div ngbDropdownMenu aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/golf-tournament">Golf Tournament</a>
              <a class="dropdown-item" href="/chalk-run">5K Chalk Run</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
            <button class="btn btn-primary btn-lg" (click)="open(content)">Donate Now</button>
        </li>
      </ul>
  </div>
</nav>
