<div class="container" style="background-color:white;">
  <h2>Sponsors for The Fallen Brothers Golf Tournament</h2>
  <div class="container row">
    <!-- <a class="btn btn-primary" href="thiswillgototheform">Become a sponsor!</a> -->
    <app-sponsor-modal></app-sponsor-modal>
  </div>
  <dl>
    <dt>
      Corporate Premium
    </dt>
    <dd>
      image goes here
    </dd>
    <dt>
      Corporate Plus
    </dt>
    <dd>
      image goes here
    </dd>
    <dt>
      Corporate
    </dt>
    <dd>
      image goes here
    </dd>
    <dt>
      Chip Contest Sponsor
    </dt>
    <dd>
      image goes here
    </dd>
    <dt>
      Putt Sponsor
    </dt>
    <dd>
      image goes here
    </dd>
    <dt>
      Cart Sponsor
    </dt>
    <dd>
      image goes here
    </dd>
    <dt>
      Platinum Tee Sponsor
    </dt>
    <dd>
      image goes here
    </dd>
    <dt>
      Tee Sponsor
    </dt>
    <dd>
      image goes here
    </dd>
  </dl>
</div>
