<div class="container" style="background-color:#e9ecef;">
  <h2>Sponsors for The Fallen Brothers Golf Tournament</h2>
  <div class="container row">
    <app-sponsor-modal></app-sponsor-modal>
  </div>
  <br />
  <div class="card">
    <div class="card-header">Our Awesome Sponsors</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
          Corporate Premium
      </li>
      <li class="list-group-item">
          Corporate Plus
      </li>
      <li class="list-group-item">
          Corporate
      </li>
      <li class="list-group-item">
          Chip Contest Sponsor
      </li>
      <li class="list-group-item">
          Putt Sponsor
      </li>
      <li class="list-group-item">
          Cart Sponsor
      </li>
      <li class="list-group-item">
          Platinum Tee Sponsor
      </li>
      <li class="list-group-item">
          Tee Sponsor
      </li>
    </ul>
  </div>
</div>
