<div class="container col-sm" style="background-color: white">
    <br />
    <p>The Fallen Brothers Foundation was started in 2003 by Darren Lewis with the death of a close friend lost to suicide, and unfortunately, over the years the list of names has grown. 
    Sadly in 2009, his own son Justin was added to this list of young kids who have lost the fight with either drug/alcohol abuse or suicide.   
    What started out as a memorial golf tournament has now evolved into a charity event that helps the youth with awareness and provides information that there is help available.  
    The foundation is made up of parents and family members who have lost a child to suicide or drug/alcohol abuse.</p>

    <p>We proudly support AFSP (American Foundation for Suicide Prevention), which is the leading national not-for-profit organization exclusively dedicated to understanding and preventing suicide through research, education and advocacy, and to reaching out to people with mental disorders and those impacted by suicide.
    The Fallen Brothers Foundation has also helped provide banners that are placed in the schools that provide students with a help hotline number. 
    We have also provided scholarships to high schools, and supported many local youth athletic programs.</p>

    <p>Our foundation helps families that are sadly facing the tough issues after they have lost their own loved one. 
    Helping with guidance or help with some funeral expenses and/or coming in after the fact and supplying the family food and daily needed household items so they can have their bereavement time without worrying about normal daily needs. The first few weeks after a loss are the hardest time for a family when trying to wrap their heads around what just happened.  A family shouldn’t have to worry about going shopping for daily needed items, and that is where the Fallen Brothers Board steps in and takes care of that need for them.
    The Fallen Brothers Foundation is made up of parents and family members who have lost a child to Alcohol/Drug abuse or Suicide.</p>

    <b>2016 Fallen Brothers Board of Directors</b>
    <br />
    President – Darren Lewis<br />
    Vice President – Amy Velarde<br />
    2nd Vice President – Joella Marty
    <br />
    Treasurer – Boyce Sanderson<br />
    Secretary – Lori Bailey<br />
    School Liaison – Karley Bailey<br />
    Committee Chair Golf – Monatgue Family<br />
    Committee Chair Run – Amy Velarde<br />
    Committee Chair Ride – Dan &amp; Shanna Waldron, Ken &amp; Misty Burke<br />
    Committee Chair Media – Lisa Henrie<br />
    Committee Chair Entertainment – Breeana Burt and Charlee Avery
    <br />
</div>